
.logo {
    background: url(../../../assets/images/logos/lasalle-logo.png) no-repeat center center;
    height: 80px;
    background-size: contain;
    margin-top: 15px;
}
header{
    width:98% !important;
}

